/* Normalize */

:root {
    /*Colores*/
    --Primario: #2C2C2E;
    --Secundario: #7A7C7F;
    --Letras: #BCBCBE;

    /*Font-Family*/
    --Titulos: 'Roboto' serif;
    --Textos: sans-serif;

    /*Font-sizes*/
    --Grande: 10em;
    --Mediano: 6.5em;
    --Base: 4em;
    --Chica: 2em;

    /*Font-Weight*/
    --Titulo: 500;
    --Parrafo: 300;
}

*{ 
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    background-color: var(--Primario);
}


/* Inico de diseño navegador de las pagina */

nav {
    width: 90vw;
    height: 15em;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navegacion {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.IncioSesion__link {
    background-color: var(--Secundario);
    color: var(--Letras);
    font-size: 1.6em;
    padding: 0.5em;
    text-decoration: none;
    border: solid var(--Secundario) 0.15em;
    transition: all 1s;
}

.IncioSesion__link:hover {
    background-color: black;
    border: solid white 0.15em;
    text-decoration: underline, solid;
}


.navegacion__link {
    background-color: var(--Secundario);
    color: var(--Letras);
    font-size: var(--Chica);
    text-decoration: none;
    text-align: center;
    padding: 0.3em;
    margin-left: 2em;
    border-radius: 0.5em;
    border: solid var(--Secundario) 0.3em;
    transition: all 1s;

}

.navegacion__link:hover{
    background-color: black;
    color: white;
    border: solid 0.3em white;
}

nav picture img {
    width: 32em;
    height: 6em;
    border-radius: 1em;
}

footer {
    width: 100%;
    height: 10em;
    background-color: #464749;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: var(--Letras);
    padding: 1.5em;
    box-sizing: border-box;
}

.Footer__logo {
    width: 18em;
    height: 3em;
    margin: 0.2em 2em 1em;
    border-radius: 1em;
}

.Footer_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Footer__lista {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}
 
.Footer__icon {
    width: 1.7em;
    background-color: #464749;
    padding: 0.5em;
}

.Footer__icon:hover {
    background-color: #7A7C7F;
    padding: 0.5em;
    border-radius: 0.2em;
}

.Footer__p p {
    font-size: var(--Chica);
}

/* fin navegador para todas las páginas */

/*  Media queries  */

@media screen and (max-width: 1000px) {
    nav {
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;
    }
}

@media screen and (max-width: 700px){
    nav picture img {
        width: 22em;
        height: 4em;
        border-radius: 1em;
    }

    .IncioSesion__link {
        padding: 0.3em;
        font-size: 1em;
    }

    .navegacion__link {
        padding: 0.5em;
        font-size: 1em;
        border-radius: 0.5em;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        gap: 2.5em;
        align-items: center;
        justify-content: center;
        height: 20em;
    }

    .Footer__p p {
        text-align: center;
    }


    .fondopantalla {
        width: 100%;
        background-position-x: center;
    }

    .home {
        flex-direction: column;
        gap: 4em;
        width: 90vw;
        margin: 0 auto 4em;
    
    }

    .home__titulo {
        text-align: center;
        font-size: var(--Base);
    }

    .home__parrafo {
        margin: auto;
        width: 100% !important;
        text-align: center;
    }
    

    .home__div {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    .home__imagen {
        margin: 4em auto 0;
        width: 60px;
        height: 100px;
    }

    .ProductosDestacados {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .ProductosDestacados__div {
        width: 75% !important;
    }
}

/* Comienzo del diseño de la página de INICIO */

.fondopantalla {
    background-image: linear-gradient(135deg, #817971 0%, #e2d1c342 100%), url(../imagenes/fondoindex.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.home {
    display: flex;
    justify-content: space-between;
}

#presentacion {
    width: 90vw;
    margin: auto;

}

.home__titulo {
    font-family: var(--Titulos);
    font-size: var(--Grande);
    font-weight: var(--Titulo);
    color: var(--Letras);
    margin: 0.5em 0;
}

.home__parrafo {
    font-size: var(--Chica);
    font-weight: var(--Parrafo);
    width: 30vw;
    color: var(--Letras);
}

.home__imagen {
    width: 12em;
    height: 20em;
    border: solid 0.25em var(--Primario);
    margin-bottom: 6em;
    border-radius: 2em;
    transition: all 1s;
}

.home__imagen:hover {
    border: solid 0.25em white;
}


.ProductosDestacados {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    margin: 5em auto 5em;
    gap: 2em;
}

.ProductosDestacados__h2 {
    font-size: var(--Base);
    color: var(--Letras);
    font-weight: var(--Parrafo);
    text-align: center;
    margin: 2em 0 2em;
    font-family: var(--Titulos);
}

.ProductosDestacados__div {
    width: 20%;
}
    

.ProductosDestacados__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 0.5em white;
    transition: all 1.5s;
}

.ProductosDestacados__img:hover {
    transform: translateY(-2em);
    border: solid 0.5em #7A7C7F;
}


/* Fin del diseño de la página INICIO */

/* Comienzo del diseño de la página NOSOTROS */

#nosotros {
    display: grid;
    grid-template-columns: 12 1fr;
    grid-template-rows: 6 1fr;
    width: 90vw;
    margin: auto;
    margin-bottom: 6em ;
}

.nosotros__h1 {
    width: 90vw;
    margin: 1em auto;
    grid-row: 1 / 3 ;
    grid-column: 1 / 13;
    text-align: center;
    font-family: var(--Titulos);
    font-size: var(--Grande);
    font-weight: var(--Titulo);
    font-weight: var(--Titulo);
    color: var(--Letras);
}

.nosotros__parrafo {
    grid-row: 3 / 5;
    grid-column: 1 / 7;
    margin: auto;
    font-size: var(--Chica);
    color: var(--Letras);
    font-weight: var(--Parrafo);
    font-family: var(--Textos);
    width: 40vw;
    text-align: center;
    border-top: solid #7A7C7F 5px;
    border-left: solid #7A7C7F 5px;
    padding: 1em 0 0 1em;
}

.nosotros__imagen {
    grid-row: 3 / 5;
    grid-column: 7 / 13;
    width: 45vw;
}

.nosotros__imagen2 {
    grid-row: 5 / 7;
    grid-column: 1 / 7;
    width: 45vw;
}

.nosotros__parrafo2 {
    grid-row: 5 / 7;
    grid-column: 7 / 13;
    margin: auto;
    font-size: var(--Chica);
    color: var(--Letras);
    font-weight: var(--Parrafo);
    font-family: var(--Textos);
    width: 40vw;
    text-align: center;
    border-bottom: solid #7A7C7F 5px;
    border-right: solid #7A7C7F 5px;
    padding: 0 1em 1em 0;
}

/* Fin del diseño de la página NOSOTROS */

@media screen and (max-width: 980px) {
    #nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nosotros__parrafo {
        width: 70%;
        border-top: none;
        border-right: solid #7A7C7F 5px;
    }

    .nosotros__h1 {
        font-size: var(--Base);
    }

    .nosotros__parrafo2 {
        width: 70%;
        border-bottom: none;
        border-left: solid #7A7C7F 5px;
    }

    .nosotros__imagen2 {
        width: 80%;
    }

    .nosotros__imagen {
        width: 80%;
    }
}

/* Comienzo del diseño de la página CATALOGO */

.seccion {
    background-image: url(../imagenes/fondopantallacatologo.png);
    background-size:cover;
    background-position-y: center;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.seccion__h1 {
    width: 90vw;
    margin: 1em auto 0;
    text-align: center;
    color: var(--Letras);
    font-family: var(--Titulos);
    font-weight: var(--Titulo);
    font-size: var(--Mediano);
}

.seccion__catalogo {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
}

.seccion__h2 {
    width: 40vw;
    margin: 0 auto 2em;
    color: var(--Letras);
    font-family: var(--Titulos);;
    font-weight: var(--Titulo);
    font-size: var(--Base);
    text-align: center;
}

.seccion__invierno {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.seccion__imageninvierno {
    width: 15vw;
}

.seccion__verano {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.seccion__imagenverano {
    width: 15vw;
}

.seccion__imagen {
    border-radius: 2em;
    border: solid #2C2C2E 0.5em;
}

.seccion__imagen:hover {
    border: solid #BCBCBE 0.5em;
    opacity: 0.6;
}

@media screen and (max-width: 1000px){
    .seccion__catalogo {
        flex-direction: column;
        width: 90vw;
        margin: auto;
    }

    .seccion__h1 {
        font-size: var(--Base);
    }

    .seccion__h2 {
        font-size: var(--Chica);
        width: 40%;
    }

    .seccion__invierno {
        flex-direction: row;
        justify-content: center;
    }

    .seccion__imageninvierno{
        width: 50%;
    }

    .seccion__verano {
        flex-direction: row;
    }
    
    
    .seccion__imagenverano {
    width: 50%;
    }
}


/* Fin del diseño de la página CATALOGO */

/* Comienzo del diseño de la página CATALOGO VERANO */

#SECCIONREMERAS {
    width: 100vw;
    background-image: linear-gradient(to top, #cfd9df17 0%, #3e495070 100%) ,url(../imagenes/fondoseccionremeras.jpg);
    background-size: contain;
    background-position: center;
    
}

#SECCIONPANTALON {
    width: 100vw;
    background-image: url(../imagenes/fondoseccionpantalon.jpg);
    background-size: contain;
}

#CatalogoVerano {
    display: flex;
    flex-direction: column;
}

.ListaCatalogoVerano__h1 {
    font-family: var(--Titulos);
    font-size: var(--Mediano);
    color: var(--Letras);
    font-weight: var(--Titulo);
    text-align: center;
    margin: 1rem 2rem 3rem;
}


.ListaCatalogoVerano__link {
    color: var(--Letras);
    list-style-type: none;
    text-decoration: none;
    background-color: var(--Secundario);
    font-size: 0.5em;
    padding: 0.2em;
    border: solid 0.3em var(--Secundario);
    box-sizing: content-box;
    border-radius: 0.8em;
    margin: 1em;
    transition: 1.2s;
}

.ListaCatalogoVerano__link:hover{
    background-color: black;
    color: white;
    border: solid 0.3em white;
}


.ListaCatalogoVerano {
    list-style: none;
    text-align: center;
    font-size: var(--Chica);
    font-family: var(--Textos);
    font-weight: var(--Parrafo);
    color: var(--Letras);
    margin-bottom: 1rem;
}

.ListaCatalogoVerano__ul {
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: center;
    list-style: none;
}

.ListaCatalogoVerano__item {
    font-size: var(--Base);
    font-family: var(--Titulos);
}


/* CATALOGO VERANO - SECCION REMERAS */

.h2catalogoverano {
    font-family: var(--Titulos);
    font-size: var(--Mediano);
    color: var(--Letras);
    font-weight: var(--Titulo);
    text-align: center;
    margin: 0rem 2rem 2rem;
    padding-top: 2.5rem;
}

#SECCIONREMERAS {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

.articuloRemera {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    gap: 2em;
    align-content: space-around;
}

.articuloRemera__lista {
    list-style: none;
    margin: 6em 1.5em 8em; 
}

.articuloRemera__imagen {
    width: 400px;
    height: 400px;
    transition: 0.7s;
}

.articuloRemera__imagen:hover {
    opacity: 0.9;
    transform: translate(2em);
    border-radius: 2em;
}

/* CATALOGO VERANO - SECCION PANTALONES */ 

#SECCIONPANTALON {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

.articuloPantalonesCorto {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    gap: 2em;
    align-content: space-around;
}

.articuloPantalonesCorto__lista {
    list-style: none;
    margin: 6em 1.5em 8em; 
}

.articuloPantalonesCorto__imagen {
    width: 400px;
    height: 400px;
    transition: 0.7s;
}

.articuloPantalonesCorto__imagen:hover {
    opacity: 0.9;
    transform: translate(2em);
    border-radius: 2em;
}

.articuloPantalonesCorto__h3 {
    font-size: var(Chica);
    font-family: var(--Titulos);
    color: var(--Letras);
    font-weight: var(--Titulo);
}

/* Fin del diseño de la página CATALOGO VERANO */

/* Media queries del catalogo verano */

@media screen and (max-width: 1000px){

    #SECCIONPANTALON {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
        gap:0;
    }
    
    #SECCIONREMERAS {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
        gap: 0;
    }

    .articuloPantalonesCorto__imagen {
        width: 250px;
        height: 250px;
        margin: 1em;
    }

    .articuloRemera__imagen {
        width: 250px;
        height: 250px;
        margin: 1em;
    }

    .articuloPantalonesCorto__lista {
        margin: 0;
    }

    .articuloRemera__lista {
        margin: 0;
    }

    .ListaCatalogoVerano__h1 {
        font-size: var(--Base);
    }

    .h2catalogoverano {
        font-size: var(--Chica);
    }

    .ListaCatalogoVerano__link {
        padding: 0.1em;
        font-size:0.5em;
    }

    .articuloPantalonesCorto__imagen:hover {
        transform: translate(0);
        border-radius: 3em;
    }

    .articuloRemera__imagen:hover {
    transform: translate(0);
    border-radius: 3em;
}
}

/* Comienzo del diseño de la página CATALOGO INVIERNO */

.h1catalogoinvierno {
    font-family: var(--Titulos);
    font-size: var(--Mediano);
    color: var(--Letras);
    text-align: center;
    margin: 1rem 2rem 3rem;
}

.listaseccionesinvierno {
    list-style: none;
    margin: 2em auto 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    gap: 6em;
}
   
.listaseccionesinvierno__link {
    color: var(--Letras);
    font-weight: var(--Titulo);
    list-style-type: none;
    text-decoration: none;
    background-color: var(--Secundario);
    font-size: 2.4em;
    padding: 0.2em;
    border: solid 0.3em var(--Secundario);
    box-sizing: content-box;
    border-radius: 1.2em;
    transition: 1.2s;
}

.listaseccionesinvierno__link:hover {
    background-color: black;
    color: white;
    border: solid 0.3em white;

}

.h2catalogoinvierno {
    font-family:var(--Titulos) ;
    font-size: var(--Mediano);
    color: var(--Letras);
    font-weight: var(--Titulo);
    text-align: center;
    margin: 0rem 2rem 2rem;
    padding-top: 2.5rem;
}


/* CATALOGO INVIERNO - SECCION BUZOS */

#SECCIONBUZOS {
    background-image: url(../imagenes/fondoseccionbuzos.jpg);
    background-size: contain;
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: auto;
}

.articuloBuzo {
    width: 50%;
    display: flex;
    margin-top: 2em;
    gap: 2em;
    justify-content: space-around;
}

.articuloBuzo__lista {
    list-style: none;
    margin: 6em 1.5em 8em; 
}

.articuloBuzo__imagen {
    width: 300px;
    height: 380px;
    transition: 0.7s;
}

.articuloBuzo__imagen:hover {
    opacity: 0.9;
    transform: translate(2em);
    border-radius: 2em;
}


/* CATALOGO INVIERNO - SECCION CAMPERAS */

#SECCIONCAMPERAS {
    width: 100vw;
    background-image: url(../imagenes/fondoseccioncamperas.jpg);
    background-size: contain;
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: auto;
}

.articuloCampera {
    width: 100%;
    margin-top: 2em;
}

.articuloCampera__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
    margin: 6em 1.5em 8em; 
}

.articuloCampera__imagen {
    width: 300px;
    height: 380px;
    transition: 0.7s;
}

.articuloCampera__imagen:hover {
    opacity: 0.9;
    transform: translate(2em);
    border-radius: 2em;
}


/* CATALOGO INVIERNO - SECCION PANTALONES */

#SECCIONPANTALONES {
    background-image: url(../imagenes/fondoseccionpantalones.jpg);
    background-size: contain;
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: auto;
}

.articuloPantalones {
    width: 50%;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 1em;
    justify-content: space-around;
}

.articuloPantalones__lista {
    list-style: none;
    margin: 6em 1.5em 8em; 
}

.articuloPantalones__item {
    list-style: none;
}

.articuloPantalones__imagen {
    width: 300px;
    height: 380px;
    transition: 0.7s;
}

.articuloPantalones__imagen:hover {
    opacity: 0.9;
    transform: translate(2em);
    border-radius: 2em;
}
/* Fin del diseño de la página CATALOGO INVIERNO */


/* Media queries del catalogo invierno */

@media screen and (max-width:800px) {
    #SECCIONBUZOS {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
        gap:0;
    }

    .articuloCampera__lista {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
        gap:0;
    }

    #SECCIONPANTALONES {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
        gap:1em;
    }

    .articuloPantalones__imagen {
        width: 200px;
        height: 250px;
        margin: 1em;
    }

    .articuloBuzo__imagen {
        width: 200px;
        height: 250px;
        margin: 1em;
    }

    .articuloCampera__imagen {
        width: 200px;
        height: 250px;
        margin: 1em;   
    }

    .articuloPantalones__imagen:hover {
        transform: translate(0);
        border-radius: 3em;
    }

    .articuloBuzo__imagen:hover {
    transform: translate(0);
    border-radius: 3em;
    }

    .articuloCampera__imagen:hover {
        transform: translate(0);
        border-radius: 3em;
    }
        
    .articuloBuzo__lista {
        margin: 0;
    }

    .articuloCampera__lista {
        margin: 0;
    }

    .articuloPantalones__lista {
        margin: 0;
    }

    .h1catalogoinvierno {
        font-size: var(--Base);
    }

    .h2catalogoinvierno {
        font-size: var(--Chica);
    }

    .listaseccionesinvierno__link {
        padding: 0.4em;
        font-size:1.8em;
        
    }


}

/* Comienzo del diseño de la página CONTACTO */

.contacto__div {
    display: flex;
    width: 90vw;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.contacto__parrafo {
    width: 50%;
    height: 8em;
    text-align: center;
    padding: 1rem 0 2rem;
    margin: 2em auto 1em;
    font-size: 3.5em;
    color: var(--Letras);
}

.contacto__contenedorQR{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10em;
}

.contacto__android {
    width: 15rem;
    height: 17rem;
    margin: 1rem 4rem 2rem;
    border: solid var(--Primario) 0.4em;
    transition: 0.8s;
}

.contacto__ios {
    width: 15rem;
    height: 17rem;
    margin: 1rem 4rem 2rem;
    border: solid var(--Primario) 0.4em;
    transition: 0.8s;
}

.contacto__android:hover {
    opacity: 0.6;
    border: solid #414042 0.4em;
    border-radius: 0.8em;
}

.contacto__ios:hover {
    opacity: 0.6;
    border: solid #414042 0.4em;
    border-radius: 0.8em;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto 6em;
    width: 90vw;
    gap: 8em;
}

.contacto__formularioDiv {
    background-color: var(--Secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 70em;
    margin: auto;
    border-radius: 25em;
    border: solid #414042 0.8em;
}

.contacto__imagen{
    width: 30em;
    margin: 0 0 5em 8em;
    background-color: var(--Letras);
    border-radius: 9em;
    border: solid #414042 0.8em;
    padding: 2em;
}

.contacto__formulario {
    width: 25em;
    text-align: center;
    padding: 8em;
    margin: 0 25em 0 0;
}

.contacto__imput{
    width: 32em;
    height: 1.4em;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    margin: 0.4em 5em 0.4em 0;
    opacity: 0.5;
    color: #414042;
    border: none;
    border-bottom: solid #414042 0.4em;
    border-bottom-right-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
}

.contacto__textarea{
    width: 34em;
    height: 14em;
    margin: 0.4em 5em 0.4em 0;    
    font-size: 1.5em;
    resize: none;
    opacity: 0.5;
    color: #414042;
    border: none;
    border-bottom: solid #414042 0.4em;
    border-bottom-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
}

.contacto__boton {
    min-width: 8em;
    height: 4em;
    border-radius: 2em;
    font-size: 1.4em;
    opacity: 0.5;
    color: #414042;
    border: solid #414042 0.4em;
    text-align: center;
}

@media screen and (max-width: 1660px) {
    .contacto__formularioDiv {
        flex-direction: column;
        height: auto;
        margin-top: 0.4em;
        align-items: center;
    }

    .contacto__imagen {
        margin: 1em 0 0;
    }
}

@media screen and (max-width: 1000px) {
    .contacto__imagen {
        width: 12em;
        border-radius: 5em;
        margin: 1em auto 0;
    }

    .contacto__imput {
        width: 15em;
        margin-right: 0;
    }

    .contacto__textarea {
        width: 16em;
        height: 20em;
        margin: auto;
        margin-right: 0;
    }

    .contacto__boton {
        width: 2.5em;
        height: 3em;
    }

    .contacto__parrafo {
        font-size: 2.6em;
    }

    .contacto__formulario {
        margin: auto;
        padding-top: 0.5em;
    }

    .contacto__android {
        margin-right: 1em;
    }

    .contacto__ios {
        margin-left: 1em;
    }
}

@media screen and (max-width: 700px) { 
    .contacto__parrafo {
        font-size: 2.4em;
        width: 90%;
        margin: auto;
        height: 7em;
    }

    .contacto__imagen {
        width: 6em;
        border-radius: 3em;
        margin: 1em auto 0;
    }

    .contacto__imput {
        width: 10em;
        height:1em;
        margin-right: 0;
    }

    .contacto__textarea {
        width: 11em;
        height: 13em;
        margin: auto;
        margin-right: 0;
    }

    .contacto__boton {
        width: 2.2em;
        height: 2.8em;
    }

    .contacto__formulario {
        padding: 0;
        margin: auto;
        width: 100%;
        height: 55em;
    }

    .contacto {
        gap: 4em;
    }

    .contacto__parrafo {
        font-size: 1.8em;
    }

    .contacto__android {
        width: 8em;
        height: 10em;
        margin: 1em 0.5em 1em 1em;
    }

    .contacto__ios {
        width: 8em;
        height: 10em;
        margin: 1em 0.5em 1em 1em;
    }

    .contacto__contenedorQR {
        gap: 2em
    }
}

/* Fin del diseño de la página CONTACTO */

/* Comienzo del diseño de la página INICIO SESION */

.Form {
    background-image: linear-gradient(to top, #2c2c2e, #3a3a3c, #48484b, #56575a, #65676a, #67696c, #696a6d, #6b6c6f, #606163, #565558, #4b4b4d, #414042);
    display: flex;
    flex-direction: row;   
    width: 90vw;
    height: 60em;
    margin: 0 auto 6em;
    gap: 1em;
}

.Form__Inicio {
    width: 40%;
    margin: 10em auto 2em;
}

.Form__Crear {
    width: 40%;
    margin: 10em auto 2em;
}

.Form__imput {
    width: 30em;
    height: 2em;
    margin: 0 0em 0 6em;
    margin-left: 0;
    font-size: 1.5em;
    margin: 0.5em 0 0.5em 0;
    opacity: 0.8;
}

.Form__boton {
    width: 6em;
    height: 2em;
    font-size: 1.3em;
    opacity: 0.4;
}

.Form__parrafo {
    width: 100%;
    font-size: var(--Chica);
    font-family: var(--Textos);
    font-weight: var(--Parrafo);
    text-align: left;
    color: var(--Letras);
    margin-bottom: 2em;
}

.Form__link {
    margin-left: 4em;
    color: #414042;
    font-size: 1.2em
    
}

.Form__parrafo1 {
    width: 100%;
    margin-top: 1.6em;
    font-size: 1.2em;
    color: var(--Letras);
}

@media screen and (max-width: 1150px) {
    .Form {
        flex-direction: column;
        height: auto;
        margin: 5em auto;
        gap: 3em;
    }

    .Form__imput {
        width: 24em;
        height: 2em;
        font-size: 1.2em;
    }

    .Form__boton {
        width: 5em;
        height: 1.5em;
        font-size: 1em;
    }
} 

@media screen and (max-width:700px) {
    
    .Form {
        flex-direction: column;
        height: auto;
        margin: 5em auto;
        gap: 3em;
    }

    .Form__imput {
        width: 14em;
        height: 1em;
        font-size: 1.2em;
    }

    .Form__boton {
        width: 3em;
        height: 1em;
        font-size: 1em;
    }

    .Form__Crear {
        margin: 0.5em auto 0.5em;
    }

    .Form__Inicio {
        margin-top: 2em;
        margin: 0.5em auto 0.5em;
    }

    .Form__parrafo {
        margin-bottom: 0.8em;
        font-size: 1em;
    }

    .Form__link {
        font-size: 1em;
    }

    .Form__parrafo1 {
        margin-top: 0.4em;
        font-size: 1em;
    }
} 