@charset "UTF-8";
/* MISC */
/* VARIABLES */
/* Mapa de colores */
/*Font-Family*/
/*Font-sizes*/
/*Font-Weight*/
/* Font-Colors */
/* EXTENDS - BASES GENERALES */
.bloque-100 {
  width: 100%;
  margin: auto; }
.bloque-90 {
  width: 90%;
  margin: auto; }
/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
  font-size: 10px; }
/* PARTIALS */
/* Body */
body {
  background-color: #7A7C7F;
  scroll-behavior: smooth; }
/* Navegador */
nav {
  height: 15em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .logo {
    width: 32em;
    height: 6em;
    border-radius: 1em; }
  nav .navbar-toggler {
    background-color: #7A7C7F !important; }
  nav .IncioSesion__link {
    color: #BCBCBE !important;
    font-size: 1.6em !important;
    background-color: #7A7C7F !important;
    text-decoration: none;
    transition: all 1s !important; }
    nav .IncioSesion__link:hover {
      background-color: black !important;
      text-decoration: underline, solid; }
  nav .navegacion__link {
    color: #BCBCBE !important;
    font-size: 1.6em !important;
    background-color: #7A7C7F;
    text-align: center;
    margin-left: 1.2em;
    border-radius: 0.5em;
    border: solid #7A7C7F 0.3em;
    transition: all 1s !important; }
    nav .navegacion__link:hover {
      background-color: black;
      border: solid 0.3em white; }
  nav .navegacion__link1 {
    color: #BCBCBE !important;
    font-size: 1.6em !important; }

@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem; } }

@media screen and (max-width: 700px) {
  .logo {
    width: 22em !important;
    height: 4em !important; }
  .IncioSesion__link {
    padding: 0.3em;
    font-size: 1em; }
  .navegacion__link {
    padding: 0.5em;
    font-size: 1em;
    border-radius: 0.5em; } }

footer {
  height: 12em;
  background-color: #464749;
  display: flex;
  justify-content: space-between;
  color: #BCBCBE;
  padding: 1.5em;
  box-sizing: border-box; }
  footer div .Footer__p {
    font-size: 2rem; }
  footer .Footer__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; }
    footer .Footer__div img {
      width: 22em;
      height: 3.5em;
      margin: 0.2em 2em 1em;
      text-align: right;
      border-radius: 1em; }
    footer .Footer__div ul.Footer__lista {
      display: flex;
      flex-direction: row;
      list-style: none;
      width: 50%;
      justify-content: space-evenly; }
      footer .Footer__div ul.Footer__lista .Footer__icon {
        width: 2.2em;
        height: 2.2em;
        background-color: #464749; }

@media screen and (max-width: 700px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    align-items: center;
    justify-content: center;
    height: 28em; }
    footer .Footer__p {
      text-align: center; }
    footer .Footer_icon {
      margin-bottom: 2em; } }

/* VIEWS */
/* HOME */
.fondopantalla {
  background-image: linear-gradient(135deg, #817971 0%, #e2d1c342 100%), url(../imagenes/fondoindex.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh; }
  .fondopantalla #presentacion .home__titulo {
    font-family: "Roboto" serif;
    font-size: 10rem;
    font-weight: 500;
    color: #BCBCBE;
    margin: 0.5em 0; }
  .fondopantalla #presentacion .home {
    display: flex;
    justify-content: space-between; }
    .fondopantalla #presentacion .home .home__parrafo {
      font-family: sans-serif;
      font-size: 2rem;
      font-weight: 300;
      color: #BCBCBE;
      width: 30vw; }
    .fondopantalla #presentacion .home .home__div .home__imagen {
      width: 12em;
      height: 20em;
      border: solid 0.25em #2C2C2E;
      margin-bottom: 6em;
      border-radius: 2em;
      transition: all 1s; }
      .fondopantalla #presentacion .home .home__div .home__imagen:hover {
        border: solid 0.25em white; }

#ProductosDestacados .ProductosDestacados__h2 {
  font-family: "Roboto" serif;
  font-size: 4rem;
  font-weight: 500;
  color: #BCBCBE;
  text-align: center;
  margin: 2em 0 2em; }

#ProductosDestacados .ProductosDestacados {
  display: flex;
  justify-content: space-around;
  margin: 5em auto 5em;
  gap: 2em; }
  #ProductosDestacados .ProductosDestacados .ProductosDestacados__div {
    width: 20%; }
    #ProductosDestacados .ProductosDestacados .ProductosDestacados__div .ProductosDestacados__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: solid 0.5em white;
      transition: all 1.5s; }
      #ProductosDestacados .ProductosDestacados .ProductosDestacados__div .ProductosDestacados__img:hover {
        transform: translateY(-2em) !important;
        border: solid 0.5em #7A7C7F !important; }

@media screen and (max-width: 700px) {
  .fondopantalla {
    width: 100%;
    background-position-x: center; }
    .fondopantalla .home__titulo {
      text-align: center;
      font-size: 4rem !important; }
    .fondopantalla .home {
      flex-direction: column;
      gap: 4em;
      width: 90vw;
      margin: 0 auto 4em; }
      .fondopantalla .home .home__parrafo {
        margin: auto;
        width: 100% !important;
        text-align: center; }
      .fondopantalla .home .home__div {
        display: flex;
        flex-direction: row;
        margin: auto; }
        .fondopantalla .home .home__div .home__imagen {
          margin: 4em auto 0;
          width: 60px;
          height: 100px; }
  .ProductosDestacados__h2 {
    font-size: 2rem !important; }
  .ProductosDestacados {
    flex-direction: column;
    align-items: center;
    gap: 2em; }
    .ProductosDestacados .ProductosDestacados__div {
      width: 75% !important; } }

/* NOSOTROS */
#nosotros {
  display: grid;
  grid-template-columns: 12 1fr;
  grid-template-rows: 6 1fr;
  margin-bottom: 6em; }
  #nosotros .nosotros__h1 {
    margin-top: 1em;
    grid-row: 1 / 3;
    grid-column: 1 / 13;
    font-family: "Roboto" serif;
    font-size: 10rem;
    font-weight: 500;
    color: #BCBCBE;
    text-align: center; }
  #nosotros .nosotros__parrafo {
    grid-row: 3 / 5;
    grid-column: 1 / 7;
    margin: auto;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #BCBCBE;
    width: 40vw;
    text-align: center;
    border-top: solid #7A7C7F 5px;
    border-left: solid #7A7C7F 5px;
    padding: 1em 0 0 1em; }
  #nosotros .nosotros__imagen {
    grid-row: 3 / 5;
    grid-column: 7 / 13;
    width: 45vw; }
  #nosotros .nosotros__imagen2 {
    grid-row: 5 / 7;
    grid-column: 1 / 7;
    width: 45vw; }
  #nosotros .nosotros__parrafo2 {
    grid-row: 5 / 7;
    grid-column: 7 / 13;
    margin: auto;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #BCBCBE;
    width: 40vw;
    text-align: center;
    border-bottom: solid #7A7C7F 5px;
    border-right: solid #7A7C7F 5px;
    padding: 0 1em 1em 0; }

@media screen and (max-width: 980px) {
  #nosotros {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #nosotros .nosotros__parrafo {
      width: 70%;
      border-top: none;
      border-right: solid #7A7C7F 5px; }
    #nosotros .nosotros__h1 {
      font-size: 4rem; }
    #nosotros .nosotros__parrafo2 {
      width: 70%;
      border-bottom: none;
      border-left: solid #7A7C7F 5px; }
    #nosotros .nosotros__imagen2 {
      width: 80%; }
    #nosotros .nosotros__imagen {
      width: 80%; } }

/* CATALOGO */
.seccion {
  display: flex;
  flex-direction: column; }
  .seccion .seccion__h1 {
    width: 90vw;
    margin: 1em auto 0;
    text-align: center;
    color: #BCBCBE;
    font-family: "Roboto" serif;
    font-size: 6.5rem;
    font-weight: 500;
    color: #BCBCBE; }
  .seccion .seccion__catalogo {
    display: flex;
    justify-content: space-between; }
    .seccion .seccion__catalogo .seccion__invierno {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .seccion .seccion__catalogo .seccion__invierno .seccion__imageninvierno {
        width: 15vw; }
      .seccion .seccion__catalogo .seccion__invierno .seccion__imagen {
        border-radius: 2em;
        border: solid #2C2C2E 0.5em; }
        .seccion .seccion__catalogo .seccion__invierno .seccion__imagen__imagen:hover {
          border: solid #BCBCBE 0.5em;
          opacity: 0.6; }
      .seccion .seccion__catalogo .seccion__invierno .seccion__h2 {
        width: 40vw;
        margin: 0 auto 2em;
        font-family: "Roboto" serif;
        font-size: 4rem;
        font-weight: 500;
        color: #BCBCBE;
        text-align: center; }
    .seccion .seccion__catalogo .seccion__verano {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .seccion .seccion__catalogo .seccion__verano .seccion__imagenverano {
        width: 15vw; }
      .seccion .seccion__catalogo .seccion__verano .seccion__imagen {
        border-radius: 2em;
        border: solid #2C2C2E 0.5em; }
        .seccion .seccion__catalogo .seccion__verano .seccion__imagen__imagen:hover {
          border: solid #BCBCBE 0.5em;
          opacity: 0.6; }
      .seccion .seccion__catalogo .seccion__verano .seccion__h2 {
        width: 40vw;
        margin: 0 auto 2em;
        font-family: "Roboto" serif;
        font-size: 4rem;
        font-weight: 500;
        color: #BCBCBE;
        text-align: center; }

@media screen and (max-width: 1000px) {
  .seccion .seccion__h1 {
    font-size: 4rem; }
  .seccion .seccion__catalogo {
    flex-direction: column;
    width: 90vw;
    margin: auto; }
    .seccion .seccion__catalogo .seccion__invierno {
      flex-direction: row;
      justify-content: center; }
      .seccion .seccion__catalogo .seccion__invierno .seccion__imageninvierno {
        width: 50%; }
      .seccion .seccion__catalogo .seccion__invierno .seccion__h2 {
        font-size: 2rem;
        width: 40%; }
    .seccion .seccion__catalogo .seccion__verano {
      flex-direction: row; }
      .seccion .seccion__catalogo .seccion__verano .seccion__imagenverano {
        width: 50%; }
      .seccion .seccion__catalogo .seccion__verano .seccion__h2 {
        font-size: 2rem;
        width: 40%; } }

/* CATALOGO INVIERNO */
#CatalogoInvierno {
  /* CATALOGO INVIERNO - SECCION BUZOS */
  /* CATALOGO INVIERNO - SECCION CAMPERAS */
  /* CATALOGO INVIERNO - SECCION PANTALONES */ }
  #CatalogoInvierno .h1catalogoinvierno {
    font-family: "Roboto" serif;
    font-size: 6.5rem;
    font-weight: 500;
    color: #BCBCBE;
    text-align: center;
    margin: 1rem 2rem 3rem; }
  #CatalogoInvierno .listaseccionesinvierno {
    list-style: none;
    margin: 2em auto 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6em; }
    #CatalogoInvierno .listaseccionesinvierno .listaseccionesinvierno__link {
      color: #BCBCBE;
      list-style-type: none;
      text-decoration: none;
      background-color: #7A7C7F;
      font-size: 2em;
      padding: 0.2em;
      border: solid 0.2em #7A7C7F;
      box-sizing: content-box;
      border-radius: 1.2em;
      transition: 1.2s; }
      #CatalogoInvierno .listaseccionesinvierno .listaseccionesinvierno__link:hover {
        background-color: black;
        color: white;
        border: solid 0.2em white; }
  #CatalogoInvierno .h2catalogoinvierno {
    font-family: "Roboto" serif;
    font-size: 6.5rem;
    font-weight: 500;
    color: #BCBCBE;
    text-align: center;
    margin: 0rem 2rem 2rem;
    padding-top: 2.5rem; }
  #CatalogoInvierno #SECCIONBUZOS {
    display: flex;
    flex-direction: row; }
    #CatalogoInvierno #SECCIONBUZOS .articuloBuzo {
      width: 50%;
      display: flex;
      margin-top: 2em;
      gap: 2em;
      justify-content: space-around; }
      #CatalogoInvierno #SECCIONBUZOS .articuloBuzo .articuloBuzo__lista {
        list-style: none;
        margin: 6em 1.5em 8em; }
        #CatalogoInvierno #SECCIONBUZOS .articuloBuzo .articuloBuzo__lista .card {
          margin: 2em auto 2em !important; }
          #CatalogoInvierno #SECCIONBUZOS .articuloBuzo .articuloBuzo__lista .card:hover {
            background-color: #2C2C2E;
            border-radius: 2em;
            transition: 1.2s; }
          #CatalogoInvierno #SECCIONBUZOS .articuloBuzo .articuloBuzo__lista .card .articuloBuzo__imagen {
            width: 400px;
            height: 480px;
            transition: 0.7s;
            margin: 1em; }
            #CatalogoInvierno #SECCIONBUZOS .articuloBuzo .articuloBuzo__lista .card .articuloBuzo__imagen:hover {
              opacity: 0.9;
              border-radius: 2em; }
          #CatalogoInvierno #SECCIONBUZOS .articuloBuzo .articuloBuzo__lista .card .card-title {
            font-family: "Roboto" serif;
            font-size: 2rem;
            font-weight: 500;
            color: #BCBCBE; }
          #CatalogoInvierno #SECCIONBUZOS .articuloBuzo .articuloBuzo__lista .card .offcanvas-title {
            font-family: "Roboto" serif;
            font-size: 4rem;
            font-weight: 500;
            color: #BCBCBE; }
          #CatalogoInvierno #SECCIONBUZOS .articuloBuzo .articuloBuzo__lista .card .offcanvas-body p {
            font-family: sans-serif;
            font-size: 2rem;
            font-weight: 300;
            color: #BCBCBE; }
  #CatalogoInvierno #SECCIONCAMPERAS {
    display: flex;
    flex-direction: row; }
    #CatalogoInvierno #SECCIONCAMPERAS .articuloCampera {
      width: 100%;
      margin-top: 2em; }
      #CatalogoInvierno #SECCIONCAMPERAS .articuloCampera .articuloCampera__lista {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2em;
        margin: 6em 1.5em 8em; }
        #CatalogoInvierno #SECCIONCAMPERAS .articuloCampera .articuloCampera__lista .card {
          margin: 2em auto 2em;
          width: 42.2em; }
          #CatalogoInvierno #SECCIONCAMPERAS .articuloCampera .articuloCampera__lista .card:hover {
            background-color: #2C2C2E;
            border-radius: 2em;
            transition: 1.2s; }
          #CatalogoInvierno #SECCIONCAMPERAS .articuloCampera .articuloCampera__lista .card .articuloCampera__imagen {
            width: 400px;
            height: 480px;
            transition: 0.7s;
            margin: 1em; }
            #CatalogoInvierno #SECCIONCAMPERAS .articuloCampera .articuloCampera__lista .card .articuloCampera__imagen:hover {
              opacity: 0.9;
              border-radius: 2em; }
          #CatalogoInvierno #SECCIONCAMPERAS .articuloCampera .articuloCampera__lista .card .card-title {
            font-family: "Roboto" serif;
            font-size: 2rem;
            font-weight: 500;
            color: #BCBCBE; }
          #CatalogoInvierno #SECCIONCAMPERAS .articuloCampera .articuloCampera__lista .card .offcanvas-title {
            font-family: "Roboto" serif;
            font-size: 4rem;
            font-weight: 500;
            color: #BCBCBE; }
          #CatalogoInvierno #SECCIONCAMPERAS .articuloCampera .articuloCampera__lista .card .offcanvas-body p {
            font-family: sans-serif;
            font-size: 2rem;
            font-weight: 300;
            color: #BCBCBE; }
  #CatalogoInvierno #SECCIONPANTALONES {
    display: flex;
    flex-direction: row; }
    #CatalogoInvierno #SECCIONPANTALONES .articuloPantalones {
      width: 50%;
      margin-top: 2em;
      display: flex;
      flex-direction: row;
      width: 50%;
      gap: 1em;
      justify-content: space-around; }
      #CatalogoInvierno #SECCIONPANTALONES .articuloPantalones .articuloPantalones__lista {
        list-style: none;
        margin: 6em 1.5em 8em; }
        #CatalogoInvierno #SECCIONPANTALONES .articuloPantalones .articuloPantalones__lista .card {
          margin: 2em auto 2em; }
          #CatalogoInvierno #SECCIONPANTALONES .articuloPantalones .articuloPantalones__lista .card:hover {
            background-color: #2C2C2E;
            border-radius: 2em;
            transition: 1.2s; }
          #CatalogoInvierno #SECCIONPANTALONES .articuloPantalones .articuloPantalones__lista .card .articuloPantalones__imagen {
            width: 400px;
            height: 480px;
            transition: 0.7s;
            margin: 1em; }
            #CatalogoInvierno #SECCIONPANTALONES .articuloPantalones .articuloPantalones__lista .card .articuloPantalones__imagen:hover {
              opacity: 0.9;
              border-radius: 2em; }
          #CatalogoInvierno #SECCIONPANTALONES .articuloPantalones .articuloPantalones__lista .card .card-title {
            font-family: "Roboto" serif;
            font-size: 2rem;
            font-weight: 500;
            color: #BCBCBE; }
          #CatalogoInvierno #SECCIONPANTALONES .articuloPantalones .articuloPantalones__lista .card .offcanvas-title {
            font-family: "Roboto" serif;
            font-size: 4rem;
            font-weight: 500;
            color: #BCBCBE; }
          #CatalogoInvierno #SECCIONPANTALONES .articuloPantalones .articuloPantalones__lista .card .offcanvas-body p {
            font-family: sans-serif;
            font-size: 2rem;
            font-weight: 300;
            color: #BCBCBE; }

/* Media queries del catalogo invierno */
@media screen and (max-width: 800px) {
  #CatalogoInvierno {
    width: 90vw;
    margin: auto; }
    #CatalogoInvierno .h1catalogoinvierno {
      font-size: 4rem; }
    #CatalogoInvierno .listaseccionesinvierno {
      gap: 0.6em; }
      #CatalogoInvierno .listaseccionesinvierno .listaseccionesinvierno__link {
        padding: 0.3em;
        font-size: 1.8em; }
    #CatalogoInvierno .h2catalogoinvierno {
      font-size: 2rem; }
    #CatalogoInvierno #SECCIONBUZOS {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: auto;
      gap: 0; }
      #CatalogoInvierno #SECCIONBUZOS .articuloBuzo__lista {
        margin: 0; }
        #CatalogoInvierno #SECCIONBUZOS .articuloBuzo__lista .articuloBuzo__imagen {
          width: 200px !important;
          height: 250px !important;
          margin: 1em !important; }
          #CatalogoInvierno #SECCIONBUZOS .articuloBuzo__lista .articuloBuzo__imagenhover {
            border-radius: 3em; }
    #CatalogoInvierno #SECCIONPANTALONES {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: auto;
      gap: 1em; }
      #CatalogoInvierno #SECCIONPANTALONES .articuloPantalones__lista {
        margin: 0 !important; }
        #CatalogoInvierno #SECCIONPANTALONES .articuloPantalones__lista .articuloPantalones__imagen {
          width: 200px !important;
          height: 250px !important;
          margin: 1em !important; }
          #CatalogoInvierno #SECCIONPANTALONES .articuloPantalones__lista .articuloPantalones__imagen:hover {
            border-radius: 3em; }
    #CatalogoInvierno #SECCIONCAMPERAS {
      flex-direction: column;
      align-items: center;
      width: 100%; }
      #CatalogoInvierno #SECCIONCAMPERAS .articuloCampera__lista {
        display: flex;
        flex-direction: column !important;
        gap: 0; }
        #CatalogoInvierno #SECCIONCAMPERAS .articuloCampera__lista div.card {
          width: 22.2em !important; }
        #CatalogoInvierno #SECCIONCAMPERAS .articuloCampera__lista .articuloCampera__imagen {
          width: 200px !important;
          height: 250px !important;
          margin: 1em !important; }
          #CatalogoInvierno #SECCIONCAMPERAS .articuloCampera__lista .articuloCampera__imagen:hover {
            border-radius: 3em; } }

/* CATALOGO VERANO */
#CatalogoVerano {
  display: flex;
  flex-direction: column; }
  #CatalogoVerano .ListaCatalogoVerano {
    list-style: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #BCBCBE;
    margin-bottom: 1rem; }
    #CatalogoVerano .ListaCatalogoVerano .ListaCatalogoVerano__h1 {
      font-family: "Roboto" serif;
      font-size: 6.5rem;
      font-weight: 500;
      color: #BCBCBE;
      text-align: center;
      margin: 1rem 2rem 3rem; }
    #CatalogoVerano .ListaCatalogoVerano .ListaCatalogoVerano__ul {
      display: flex;
      justify-content: center;
      list-style: none; }
      #CatalogoVerano .ListaCatalogoVerano .ListaCatalogoVerano__ul .ListaCatalogoVerano__item {
        font-family: "Roboto" serif;
        font-size: 4rem;
        font-weight: 500;
        color: #BCBCBE; }
        #CatalogoVerano .ListaCatalogoVerano .ListaCatalogoVerano__ul .ListaCatalogoVerano__item .ListaCatalogoVerano__link {
          color: #BCBCBE;
          list-style-type: none;
          text-decoration: none;
          background-color: #7A7C7F;
          font-size: 0.5em;
          padding: 0.2em;
          border: solid 0.2em #7A7C7F;
          box-sizing: content-box;
          border-radius: 0.8em;
          margin: 1em;
          transition: 1.2s; }
          #CatalogoVerano .ListaCatalogoVerano .ListaCatalogoVerano__ul .ListaCatalogoVerano__item .ListaCatalogoVerano__link__link:hover {
            background-color: black;
            color: white;
            border: solid 0.2em white; }
  #CatalogoVerano .h2catalogoverano {
    font-family: "Roboto" serif;
    font-size: 6.5rem;
    font-weight: 500;
    color: #BCBCBE;
    text-align: center;
    margin: 0rem 2rem 2rem;
    padding-top: 2.5rem; }
  #CatalogoVerano #SECCIONREMERAS {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    #CatalogoVerano #SECCIONREMERAS .articuloRemera {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      margin-top: 2em;
      gap: 2em;
      align-content: space-around; }
      #CatalogoVerano #SECCIONREMERAS .articuloRemera .articuloRemera__lista {
        list-style: none;
        margin: 6em 1.5em 8em; }
        #CatalogoVerano #SECCIONREMERAS .articuloRemera .articuloRemera__lista .card {
          margin: 2em auto 2em; }
          #CatalogoVerano #SECCIONREMERAS .articuloRemera .articuloRemera__lista .card:hover {
            background-color: #2C2C2E;
            border-radius: 2em;
            transition: 1.2s; }
          #CatalogoVerano #SECCIONREMERAS .articuloRemera .articuloRemera__lista .card .articuloRemera__imagen {
            width: 400px;
            height: 400px;
            transition: 0.7s;
            margin: 1em; }
            #CatalogoVerano #SECCIONREMERAS .articuloRemera .articuloRemera__lista .card .articuloRemera__imagen:hover {
              opacity: 0.9;
              border-radius: 2em; }
          #CatalogoVerano #SECCIONREMERAS .articuloRemera .articuloRemera__lista .card .card-title {
            font-family: "Roboto" serif;
            font-size: 2rem;
            font-weight: 500;
            color: #BCBCBE; }
          #CatalogoVerano #SECCIONREMERAS .articuloRemera .articuloRemera__lista .card .offcanvas-title {
            font-family: "Roboto" serif;
            font-size: 4rem;
            font-weight: 500;
            color: #BCBCBE; }
          #CatalogoVerano #SECCIONREMERAS .articuloRemera .articuloRemera__lista .card .offcanvas-body p {
            font-family: sans-serif;
            font-size: 2rem;
            font-weight: 300;
            color: #BCBCBE; }
  #CatalogoVerano #SECCIONPANTALON {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    #CatalogoVerano #SECCIONPANTALON .articuloPantalonesCorto {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      margin-top: 2em;
      gap: 2em;
      align-content: space-around; }
      #CatalogoVerano #SECCIONPANTALON .articuloPantalonesCorto .articuloPantalonesCorto__lista {
        list-style: none;
        margin: 6em 1.5em 8em; }
        #CatalogoVerano #SECCIONPANTALON .articuloPantalonesCorto .articuloPantalonesCorto__lista .card {
          margin: 2em auto 2em;
          color: #BCBCBE; }
          #CatalogoVerano #SECCIONPANTALON .articuloPantalonesCorto .articuloPantalonesCorto__lista .card:hover {
            background-color: #2C2C2E;
            border-radius: 2em;
            transition: 1.2s;
            color: #BCBCBE; }
          #CatalogoVerano #SECCIONPANTALON .articuloPantalonesCorto .articuloPantalonesCorto__lista .card .articuloPantalonesCorto__imagen {
            width: 400px;
            height: 400px;
            transition: 0.7s;
            margin: 1em; }
            #CatalogoVerano #SECCIONPANTALON .articuloPantalonesCorto .articuloPantalonesCorto__lista .card .articuloPantalonesCorto__imagen:hover {
              opacity: 0.9;
              border-radius: 2em; }
          #CatalogoVerano #SECCIONPANTALON .articuloPantalonesCorto .articuloPantalonesCorto__lista .card .card-title {
            font-family: "Roboto" serif;
            font-size: 2rem;
            font-weight: 500;
            color: #BCBCBE; }
          #CatalogoVerano #SECCIONPANTALON .articuloPantalonesCorto .articuloPantalonesCorto__lista .card .offcanvas-title {
            font-family: "Roboto" serif;
            font-size: 4rem;
            font-weight: 500;
            color: #BCBCBE; }
          #CatalogoVerano #SECCIONPANTALON .articuloPantalonesCorto .articuloPantalonesCorto__lista .card .offcanvas-body p {
            font-family: sans-serif;
            font-size: 2rem;
            font-weight: 300;
            color: #BCBCBE; }

/* Media CATALOGO VERANO */
@media screen and (max-width: 1000px) {
  #CatalogoVerano .ListaCatalogoVerano__h1 {
    font-size: 4rem; }
    #CatalogoVerano .ListaCatalogoVerano__h1 .ListaCatalogoVerano__link {
      padding: 0.1em;
      font-size: 0.5em; }
  #CatalogoVerano .h2catalogoverano {
    font-size: 2rem; }
  #CatalogoVerano #SECCIONREMERAS {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 0; }
    #CatalogoVerano #SECCIONREMERAS .articuloRemera__lista {
      margin: 0; }
      #CatalogoVerano #SECCIONREMERAS .articuloRemera__lista .articuloRemera__imagen {
        width: 250px !important;
        height: 250px !important;
        margin: 1em; }
        #CatalogoVerano #SECCIONREMERAS .articuloRemera__lista .articuloRemera__imagen:hover {
          border-radius: 3em; }
  #CatalogoVerano #SECCIONPANTALON {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 0; }
    #CatalogoVerano #SECCIONPANTALON .articuloPantalonesCorto__lista {
      margin: 0; }
      #CatalogoVerano #SECCIONPANTALON .articuloPantalonesCorto__lista .articuloPantalonesCorto__imagen {
        width: 250px !important;
        height: 250px !important;
        margin: 1em; }
        #CatalogoVerano #SECCIONPANTALON .articuloPantalonesCorto__lista .articuloPantalonesCorto__imagen:hover {
          border-radius: 3em; } }

/* CONTACTO */
/* Comienzo del diseño de la página CONTACTO */
.contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto 6em;
  gap: 8em; }
  .contacto .contacto__div {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .contacto .contacto__div .contacto__parrafo {
      width: 50%;
      height: 8em;
      text-align: center;
      padding: 1rem 0 2rem;
      margin: 2em auto 1em;
      font-family: sans-serif;
      font-size: 2.5em;
      font-weight: 300;
      color: #BCBCBE; }
    .contacto .contacto__div .contacto__contenedorQR {
      display: flex;
      justify-content: center;
      gap: 10em; }
      .contacto .contacto__div .contacto__contenedorQR .contacto__android {
        width: 15rem;
        height: 17rem;
        margin: 1rem 4rem 2rem;
        border: solid #2C2C2E 0.4em;
        transition: 0.8s; }
        .contacto .contacto__div .contacto__contenedorQR .contacto__android:hover {
          opacity: 0.6;
          border: solid #414042 0.4em;
          border-radius: 0.8em; }
      .contacto .contacto__div .contacto__contenedorQR .contacto__ios {
        width: 15rem;
        height: 17rem;
        margin: 1rem 4rem 2rem;
        border: solid #7A7C7F 0.4em;
        transition: 0.8s; }
        .contacto .contacto__div .contacto__contenedorQR .contacto__ios:hover {
          opacity: 0.6;
          border: solid #414042 0.4em;
          border-radius: 0.8em; }

.contacto__formularioDiv {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto 5em;
  color: #BCBCBE !important; }
  .contacto__formularioDiv .titulo-h2-formulariocontaco {
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: #BCBCBE; }
  .contacto__formularioDiv .textarea-contacto {
    resize: none; }

/* Media queries de contacto */
@media screen and (max-width: 1660px) {
  .contacto__formularioDiv {
    flex-direction: column;
    height: auto;
    margin-top: 0.4em;
    align-items: center; } }

@media screen and (max-width: 1000px) {
  .contacto__contenedorParrafo .contacto__parrafo {
    font-size: 2.5em !important;
    margin: 0 auto 4em !important; }
  .contacto__contenedorQR .contacto__android {
    margin-right: 1em; }
  .contacto__contenedorQR .contacto__ios {
    margin-left: 1em; }
  .contacto__formularioDiv .titulo-h2-formulariocontaco {
    font-size: 2.5em; } }

@media screen and (max-width: 700px) {
  .contacto {
    gap: 4em; }
    .contacto .contacto__contenedorParrafo .contacto__parrafo {
      font-size: 2.3em !important;
      width: 90% !important;
      margin: 0 auto 4em;
      height: 10em !important; }
    .contacto .contacto__contenedorQR {
      gap: 2em !important;
      margin: 2em auto 2em; }
      .contacto .contacto__contenedorQR .contacto__android {
        width: 8em !important;
        height: 10em !important;
        margin: 1em 0.5em 1em 1em; }
      .contacto .contacto__contenedorQR .contacto__ios {
        width: 8em !important;
        height: 10em !important;
        margin: 1em 0.5em 1em 1em; }
  .contacto__formularioDiv .titulo-h2-formulariocontaco {
    font-size: 2em; } }

/* Fin del diseño de la página CONTACTO */
/* INICIO SESION */
/* Comienzo del diseño de la página INICIO SESION */
.Form {
  background-image: linear-gradient(to top, #2c2c2e, #3a3a3c, #48484b, #56575a, #65676a, #67696c, #696a6d, #6b6c6f, #606163, #565558, #4b4b4d, #414042);
  display: flex;
  flex-direction: row;
  height: 60em;
  margin: 0 auto 6em;
  gap: 1em; }
  .Form .Form__Inicio {
    width: 40%;
    margin: 10em auto 2em; }
    .Form .Form__Inicio .Form__parrafo {
      font-family: sans-serif;
      font-size: 2rem;
      font-weight: 300;
      color: #BCBCBE;
      text-align: left;
      color: #BCBCBE;
      margin-bottom: 2em; }
    .Form .Form__Inicio .Form__imput {
      width: 30em;
      height: 2em;
      margin: 0 0em 0 6em;
      margin-left: 0;
      font-size: 1.5em;
      margin: 0.5em 0 0.5em 0;
      opacity: 0.8; }
    .Form .Form__Inicio .Form__boton {
      width: 6em;
      height: 2em;
      font-size: 1.3em;
      opacity: 0.4; }
    .Form .Form__Inicio .Form__link {
      margin-left: 4em;
      color: #414042;
      font-size: 1.2em; }
    .Form .Form__Inicio .Form__parrafo1 {
      margin-top: 1.6em;
      font-family: sans-serif;
      font-size: 1.2em;
      font-weight: 300;
      color: #BCBCBE; }
  .Form .Form__Crear {
    width: 40%;
    margin: 10em auto 2em; }
    .Form .Form__Crear .Form__parrafo {
      font-family: sans-serif;
      font-size: 2rem;
      font-weight: 300;
      color: #BCBCBE;
      text-align: left;
      margin-bottom: 2em; }
    .Form .Form__Crear .Form__imput {
      width: 30em;
      height: 2em;
      margin: 0 0em 0 6em;
      margin-left: 0;
      font-size: 1.5em;
      margin: 0.5em 0 0.5em 0;
      opacity: 0.8; }
    .Form .Form__Crear .Form__boton {
      width: 6em;
      height: 2em;
      font-size: 1.3em;
      opacity: 0.4; }

/* Media queries de la pagina incio sesion */
@media screen and (max-width: 1150px) {
  .Form {
    flex-direction: column;
    height: auto;
    margin: 5em auto;
    gap: 3em; }
  .Form__imput {
    width: 24em;
    height: 2em;
    font-size: 1.2em; }
  .Form__boton {
    width: 5em;
    height: 1.5em;
    font-size: 1em; } }

@media screen and (max-width: 700px) {
  .Form {
    flex-direction: column;
    height: auto;
    margin: 5em auto;
    gap: 3em; }
    .Form .Form__Inicio {
      margin-top: 2em;
      margin: 0.5em auto 0.5em; }
      .Form .Form__Inicio .Form__parrafo {
        margin-bottom: 0.8em;
        font-size: 1em; }
      .Form .Form__Inicio .Form__imput {
        width: 14em;
        height: 1em;
        font-size: 1.2em; }
      .Form .Form__Inicio .Form__boton {
        width: 3em;
        height: 1em;
        font-size: 1em; }
      .Form .Form__Inicio .Form__link {
        font-size: 1em; }
      .Form .Form__Inicio .Form__parrafo1 {
        margin-top: 0.4em;
        font-size: 1em; }
    .Form .Form__Crear {
      margin: 0.5em auto 0.5em; }
      .Form .Form__Crear .Form__parrafo {
        margin-bottom: 0.8em;
        font-size: 1em; }
      .Form .Form__Crear .Form__imput {
        width: 14em;
        height: 1em;
        font-size: 1.2em; }
      .Form .Form__Crear .Form__boton {
        width: 3em;
        height: 1em;
        font-size: 1em; } }

/* Fin pagina Inicio Sesion */
