@mixin estilofuente ($fontfamlily, $fontsize, $fontweight, $color, ) {
    font-family: $fontfamlily;
    font-size:  $fontsize;
    font-weight: $fontweight;
    color: $color;
}

@mixin flex ($displayflex, $flexdirection) {
    display: $displayflex ;
    flex-direction: $flexdirection;
}

