
    /* VARIABLES */

   /* Mapa de colores */

   $Paleta: (
    primario: #2C2C2E,
    secundario: #7A7C7F,
    letras: #BCBCBE,
   );


    /*Font-Family*/
    $Titulos: 'Roboto', serif;
    $Textos: sans-serif;

    /*Font-sizes*/
    $Grande: 10rem;
    $Mediano: 6.5rem;
    $Base: 4rem;
    $Chica: 2rem;

    /*Font-Weight*/
    $Titulo: 500;
    $Parrafo: 300;

    /* Font-Colors */ 
    $Letras: #BCBCBE;

    
