
    /* Variables */

   /*Colores*/
    $Primario: #2C2C2E;
    $Secundario: #7A7C7F;
    $Letras: #BCBCBE;

    /*Font-Family*/
    $Titulos: 'Roboto' serif;
    $Textos: sans-serif;

    /*Font-sizes*/
    $Grande: 10em;
    $Mediano: 6.5em;
    $Base: 4em;
    $Chica: 2em;

    /*Font-Weight*/
    $Titulo: 500;
    $Parrafo: 300;

