/* Body */

body {
    background-color: map-get($map: $Paleta , $key: secundario);
    scroll-behavior: smooth;
}

/* Navegador */

nav {
    height: 15em;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 32em;
        height: 6em;
        border-radius: 1em;
    }

    .navbar-toggler {
        background-color: map-get($map: $Paleta , $key: secundario) !important;
    }

    .IncioSesion__link {
        color: map-get($map: $Paleta, $key: letras ) !important;
        font-size: 1.6em !important;
        background-color: map-get($map: $Paleta, $key: secundario ) !important;
        text-decoration: none;
        transition: all 1s !important;
    
        &:hover {
        background-color: black !important;
        text-decoration: underline, solid;
        }
    }
 
    .navegacion__link {
        color:  map-get($map: $Paleta, $key: letras ) !important;
        font-size: 1.6em !important;
        background-color:  map-get($map: $Paleta , $key: secundario);
        text-align: center;
        margin-left: 1.2em;
        border-radius: 0.5em;
        border: solid  map-get($map: $Paleta , $key: secundario) 0.3em;
        transition: all 1s !important;
    
        &:hover{
        background-color: black;
        border: solid 0.3em white;
        }
    }

    .navegacion__link1 {
        color: map-get($map: $Paleta, $key: letras ) !important;
        font-size: 1.6em !important;
    }

}

@media screen and (max-width: 1000px) {
    nav {
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;
    }
}

@media screen and (max-width: 700px){
    .logo {
        width: 22em !important;
        height: 4em !important;
    }

    .IncioSesion__link {
        padding: 0.3em;
        font-size: 1em;
    }

    .navegacion__link {
        padding: 0.5em;
        font-size: 1em;
        border-radius: 0.5em;
    }
}