/* CATALOGO INVIERNO */

#CatalogoInvierno {

    .h1catalogoinvierno {
        @include estilofuente ( $Titulos, $Mediano, $Titulo, $Letras);
        text-align: center;
        margin: 1rem 2rem 3rem;
    }

    .listaseccionesinvierno {
        list-style: none;
        margin: 2em auto 2em;
        @include flex (flex, row);
        justify-content: center;
        gap: 6em;

        .listaseccionesinvierno__link {
            color: $Letras;
            list-style-type: none;
            text-decoration: none;
            background-color: map-get($map: $Paleta , $key: secundario);
            font-size: 2em;
            padding: 0.2em;
            border: solid 0.2em  map-get($map: $Paleta , $key: secundario);
            box-sizing: content-box;
            border-radius: 1.2em;
            transition: 1.2s;

            &:hover {
                background-color: black;
                color: white;
                border: solid 0.2em white;
            }
        }
    }

    .h2catalogoinvierno {
            @include estilofuente ( $Titulos, $Mediano, $Titulo, $Letras);
            text-align: center;
            margin: 0rem 2rem 2rem;
            padding-top: 2.5rem;
    }

    /* CATALOGO INVIERNO - SECCION BUZOS */

    #SECCIONBUZOS {
        @include flex (flex, row);
            
        .articuloBuzo {
            width: 50%;
            @include flex (flex, row);
            margin-top: 2em;
            gap: 2em;
            justify-content: space-around;

            .articuloBuzo__lista {
                 list-style: none;
                margin: 6em 1.5em 8em; 

                .card {
                    margin: 2em auto 2em !important;

                    &:hover {
                        background-color:  map-get($map: $Paleta , $key: primario);
                        border-radius: 2em;
                        transition: 1.2s;
                    }               

                    .articuloBuzo__imagen {
                        width: 400px;
                        height: 480px;
                        transition: 0.7s;
                        margin: 1em;

                        &:hover {
                            opacity: 0.9;
                            border-radius: 2em;
                        }
                    }
                
                    .card-title {
                        @include estilofuente ( $Titulos, $Chica, $Titulo, $Letras);
                    }
        
                    .offcanvas-title {
                        @include estilofuente ( $Titulos, $Base, $Titulo, $Letras);
                    }
                        
                    .offcanvas-body p {
                        @include estilofuente ( $Textos, $Chica, $Parrafo, $Letras);
                    }
                }   
            }
        }
    }

    /* CATALOGO INVIERNO - SECCION CAMPERAS */

    #SECCIONCAMPERAS {
        @include flex (flex, row);
        
        .articuloCampera {
            width: 100%; 
            margin-top: 2em;

            .articuloCampera__lista {
                list-style: none;
                @include flex (flex, row);
                justify-content: space-around;
                gap: 2em;
                margin: 6em 1.5em 8em; 

                .card {
                    margin: 2em auto 2em;
                    width: 42.2em;
                
                    &:hover {
                        background-color:  map-get($map: $Paleta , $key: primario);
                        border-radius: 2em;
                        transition: 1.2s;
                    } 

                    .articuloCampera__imagen {
                        width: 400px;
                        height: 480px;
                        transition: 0.7s;
                        margin: 1em;
 
                        &:hover {
                            opacity: 0.9;
                            border-radius: 2em;
                        }
                    }
                    
                    .card-title {
                        @include estilofuente ( $Titulos, $Chica, $Titulo, $Letras);
                    }
        
                    .offcanvas-title {
                        @include estilofuente ( $Titulos, $Base, $Titulo, $Letras);
                    }
                        
                    .offcanvas-body p {
                        @include estilofuente ( $Textos, $Chica, $Parrafo, $Letras);
                    }
                }  
            }
        }
    }

    /* CATALOGO INVIERNO - SECCION PANTALONES */

    #SECCIONPANTALONES {
        @include flex (flex, row);

        .articuloPantalones {
            width: 50%;
            margin-top: 2em;
            @include flex (flex, row);
            width: 50%;
            gap: 1em;
            justify-content: space-around;
            
            .articuloPantalones__lista {
                list-style: none;
                margin: 6em 1.5em 8em;

                .card {
                    margin: 2em auto 2em;

                    &:hover {
                        background-color:  map-get($map: $Paleta , $key: primario);
                        border-radius: 2em;
                        transition: 1.2s;
                    } 

                    .articuloPantalones__imagen {
                        width: 400px;
                        height: 480px;
                        transition: 0.7s;
                        margin: 1em;

                        &:hover {
                            opacity: 0.9;
                            border-radius: 2em;
                        }
                    }
                    
                    .card-title {
                        @include estilofuente ( $Titulos, $Chica, $Titulo, $Letras);
                    }
        
                    .offcanvas-title {
                        @include estilofuente ( $Titulos, $Base, $Titulo, $Letras);
                    }
                        
                    .offcanvas-body p {
                        @include estilofuente ( $Textos, $Chica, $Parrafo, $Letras);
                    }
                }
            }
        }
    }
}

/* Media queries del catalogo invierno */

@media screen and (max-width:800px) {

    #CatalogoInvierno {
        width: 90vw;
        margin: auto;
 
        .h1catalogoinvierno {
            font-size: $Base;
        }
        
        .listaseccionesinvierno {
            gap: 0.6em;

            .listaseccionesinvierno__link {
                padding: 0.3em;
                font-size:1.8em;
            }    
        }

        .h2catalogoinvierno {
            font-size: $Chica;
        }

        #SECCIONBUZOS {
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: auto;
            gap:0;

            .articuloBuzo__lista {
                margin: 0;
            
                .articuloBuzo__imagen {
                    width: 200px !important;
                    height: 250px !important;
                    margin: 1em !important;

                    &hover {
                        border-radius: 3em;
                    }
                }   
            }       
        }

        #SECCIONPANTALONES {
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: auto;
            gap:1em;

            .articuloPantalones__lista {
                margin: 0 !important;


                .articuloPantalones__imagen {
                    width: 200px !important;
                    height: 250px !important;
                    margin: 1em !important;

                    &:hover {
                        border-radius: 3em;
                    }             
                }
            }
        }

        #SECCIONCAMPERAS {                           
            flex-direction: column;
            align-items: center;
            width: 100%;

            .articuloCampera__lista {
                display: flex;
                flex-direction: column !important;
                gap:0;
                
                div.card {
                    width: 22.2em !important;
                }
                
                .articuloCampera__imagen {
                    width: 200px !important;
                    height: 250px !important;
                    margin: 1em !important;  
                        
                    &:hover {
                        border-radius: 3em;
                    }
                }           
            }
        }
    }
}