/* HOME */

.fondopantalla {
    background-image: linear-gradient(135deg, #817971 0%, #e2d1c342 100%), url(../imagenes/fondoindex.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 80vh;


    #presentacion {

        .home__titulo {
            @include estilofuente ( $Titulos, $Grande, $Titulo, $Letras);
            margin: 0.5em 0;
        }

         .home {
            display: flex;
            justify-content: space-between;

            .home__parrafo {
                @include estilofuente ( $Textos, $Chica, $Parrafo, $Letras);
                width: 30vw; 
            }

            .home__div .home__imagen {
                width: 12em;
                height: 20em;
                border: solid 0.25em  map-get($map: $Paleta , $key: primario);
                margin-bottom: 6em;
                border-radius: 2em;
                transition: all 1s;

                &:hover {
                    border: solid 0.25em white;
                }
            }
        }
    }
}

#ProductosDestacados{

    .ProductosDestacados__h2 {
        @include estilofuente ( $Titulos, $Base, $Titulo, $Letras);
        text-align: center;
        margin: 2em 0 2em;
    }

    .ProductosDestacados {
        display: flex;
        justify-content: space-around;
        margin: 5em auto 5em;
        gap: 2em;

        .ProductosDestacados__div {
            width: 20%;

            .ProductosDestacados__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: solid 0.5em white;
                transition: all 1.5s;

                &:hover {
                    transform: translateY(-2em) !important;
                    border: solid 0.5em #7A7C7F !important;
                }
            }
        }
    }
}

@media screen and (max-width: 700px){
    .fondopantalla {
        width: 100%;
        background-position-x: center;
    
        .home__titulo {
            text-align: center;
            font-size: $Base !important;
            }

        .home {
            flex-direction: column;
            gap: 4em;
            width: 90vw;
            margin: 0 auto 4em;

            .home__parrafo {
                margin: auto;
                width: 100% !important;
                text-align: center;
            }

            .home__div {
                display: flex;
                flex-direction: row;
                margin: auto;
            
                .home__imagen {
                    margin: 4em auto 0;
                    width: 60px;
                    height: 100px;
                }    
            }
        }
    }        

    .ProductosDestacados__h2{
        font-size: $Chica !important;
    }

    .ProductosDestacados {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    

        .ProductosDestacados__div {
            width: 75% !important;
        }
    }    
}
