/* NOSOTROS */

#nosotros {
    display: grid;
    grid-template-columns: 12 1fr;
    grid-template-rows: 6 1fr;
    margin-bottom: 6em ;

    .nosotros__h1 {
        margin-top: 1em;
        grid-row: 1 / 3 ;
        grid-column: 1 / 13;
        @include estilofuente ( $Titulos, $Grande, $Titulo, $Letras);
        text-align: center;
    }
    
    .nosotros__parrafo {
        grid-row: 3 / 5; 
        grid-column: 1 / 7;
        margin: auto;
        @include estilofuente ( $Textos, $Chica, $Parrafo, $Letras); 
        width: 40vw;
        text-align: center;
        border-top: solid  map-get($map: $Paleta , $key: secundario) 5px;
        border-left: solid  map-get($map: $Paleta , $key: secundario) 5px;
        padding: 1em 0 0 1em;
    }

    .nosotros__imagen {
        grid-row: 3 / 5;
        grid-column: 7 / 13;
        width: 45vw;
    }

    .nosotros__imagen2 {
        grid-row: 5 / 7;
        grid-column: 1 / 7;
        width: 45vw;
        
    }
    .nosotros__parrafo2 {
        grid-row: 5 / 7;
        grid-column: 7 / 13;
        margin: auto;
        @include estilofuente ( $Textos, $Chica, $Parrafo, $Letras); 
        width: 40vw;
        text-align: center;
        border-bottom: solid  map-get($map: $Paleta , $key: secundario) 5px;
        border-right: solid  map-get($map: $Paleta , $key: secundario) 5px;
        padding: 0 1em 1em 0;
    }
}

@media screen and (max-width: 980px) {
    #nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;

        .nosotros__parrafo {
            width: 70%;
            border-top: none;
            border-right: solid  map-get($map: $Paleta , $key: secundario) 5px;
            padding: 0;
        }
    
        .nosotros__h1 {
            font-size: $Base;
            margin-bottom: 1.5em;
        }
    
        .nosotros__parrafo2 {
            width: 70%;
            border-bottom: none;
            border-left: solid  map-get($map: $Paleta , $key: secundario) 5px;
            padding: 0;
        }
    
        .nosotros__imagen2 {
            width: 80%;
        }
    
        .nosotros__imagen {
            width: 80%;
        }
    } 
}